body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}

@font-face {
  font-family: "Freight Sans Bold";
  src: url(fonts/FreightSansBold.otf);
  font-style: normal;
  font-weight: 100;
}
.background-top {
  background-color: #3b5998;
  height: 82px;
  min-width: 980px;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;

  position: relative;
  z-index: 1;
}

.logo-facebook {
  background-image: url(/images/face.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  width: 170px;
  height: 34px;
  background-position: 0 -245px;
  margin-top: 17px;
}

.container-top {
  margin: 0 auto;
  padding-top: 13px;
  width: 980px;
}

.clearfix {
  zoom: 1;
}

table {
  float: right;
  height: 65px;
  width: 452px;
}

.background-secondy {
  background: linear-gradient(white, #d3d8e8);
  height: 1351px;
  min-width: 980px;
}

.globalContainer {
  margin: 0 auto;
  position: relative;
  zoom: 1;
}

.content {
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
  height: 0;
}

.fb_content {
  min-height: 624px;
  padding-bottom: 20px;
  zoom: 1;
}

.wrap {
  margin: 0 auto;

  position: relative;
  width: 980px;
}

#content {
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.left-side {
  float: left;
  margin-right: 15px;
  width: 565px;
}

.right-side {
  width: 400px;
  height: 500px;
  min-width: 400px;
  float: left;
}

.two-text {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  height: 81px;
}
.text-left {
  margin-block-end: 0;
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
  font-family: Helvetica;
}

.img {
  border: 0;
}

.inscr {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  font-family: helvetica;
  margin-bottom: 5px;
}
.under-inscr {
  color: #1d2129;
  font-size: 19px;
  font-family: helvetica;
}

.sec-wrap {
  height: 507px;
  width: 400px;
}

.thrd-wrap {
  height: 505px;
  width: 400px;
  padding: 0px 0px 30px;
}
.padding {
  padding-bottom: 10px;
}

.two-boxs {
  margin: 0;
  width: 172px;
  padding: 8px 10px;
  border-radius: 5px;

  border: 1px solid #bdc7d8;
}
.other-boxs {
  margin: 0;
  width: 377px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
}

.text-boxs {
  font-size: 18px;
  font-family: Helvetica, arial, sans-serif;
}

.datege-text {
  color: #90949c;
  font-size: 16px;
  font-weight: bold;
  font-family: helvetica;
}

.space-bottom {
  margin-bottom: 5px;
  margin-top: 2px;
}
.space-top {
  margin-top: 10px;
}

.btn-opt {
  font-size: 13px;
  height: 30px;
  padding: 5px;
  background-color: #fff;
  color: #1c1e21;
  font-family: helvetica;
}

.style-genre {
  color: #1d2129;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;

  font-family: Helvetica, Arial, sans-serif;
}

.style-text2 {
  color: #777;
  font-size: 11px;
  width: 316px;
  margin: 1em 0;
  font-family: Helvetica;
  line-height: 1.3;
}

.button-inscr {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  font-size: 19px;
  line-height: 126%;
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  border-color: #3b6e22 #3b6e22 #2c5115;
}
.button1:hover {
  box-shadow: inset 0 1px 1px #a4e388;
  background: linear-gradient(#79bc64, #578843);
}

.text-bottom-right {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}

.div-inscr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tt {
  margin-top: 10px;
}

.ad {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  padding-left: 1px;
  font-family: helvetica;
}

td {
  padding: 0 0 0 14px;
}
.top-text2 {
  width: 184px;
  height: 16px;
}

.footer-padding {
  padding-left: 10px;
  padding-right: 0;
  list-style-type: none;
}

.footerA {
  color: #737373;
  margin: 0 auto;
  width: 980px;
}

.footer1 {
  display: flex;
  flex-direction: row;
  padding: 0;
  font-family: helvetica;
  margin: 0;
  color: #405c9b;
}

#bar {
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  height: 8px;
  margin-bottom: 8px;
}

.foot2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  line-height: 1.6;
  margin-left: -20px;
  color: #405c9b;
}

.foot3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  color: #405c9b;
  margin-left: -20px;
  padding-left: 20px;
}

.foot4 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: -20px;
  padding-left: 20px;
  color: #405c9b;
}

.rmv-underline {
  text-decoration: none;
}

.under-log:hover {
  text-decoration: underline;
}

.btn-conx {
  border: 1px solid #ccd0d5;
  background-color: #4267b2;
  border-color: #29487d;
  color: #fff;
  padding: 2px 6px;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}
.box-pe {
  border: 1px solid #1d2a5b;
  padding: 3px;
  font-family: helvetica;
  font-size: 12px;
  width: 142px;
}

.btn-con:hover {
  background-color: #365899;
  border-color: #29487d;
}

.point-interro {
  background-image: url(/images/tool.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 56px;
  width: 56px;
  width: 16px;
  height: 16px;
  background-position: 0 -236px;
  position: relative;
}

.bloc1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 399px;
}

::placeholder {
  color: #999999;
}

.box-rig:focus {
  border-color: red;
  border-style: solid;
  outline: none !important;
}

.fb-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.style-type {
  border-radius: 4px;
  border-width: 1px;
  display: inline-block;
  padding: 5px 0 5px 4px;
}
.style2 {
  padding: 0 10px 0 3px;
}
label {
  cursor: default;
  vertical-align: -webkit-baseline-middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
