@media (max-width: 1281px) {
  .white-bar {
    display: none;
  }
  .fixed_elem {
    display: none;
  }
  .logo-box {
    margin: 0;
  }
  .logo {
    display: none;
  }
  .k {
    display: none;
  }

  .adj {
    display: none;
  }
  .block3 {
    display: none;
  }
  .interog {
    display: none;
  }
  .row {
    display: none;
  }
  .under1 {
    padding: 0;
  }
  .under-warp {
    margin: 0;
  }

  .bx-cht9 {
    display: none;
  }
  .bx-cht1 {
    display: none;
  }

  .bx-cht17 {
    display: none;
  }
  .paddin1 {
    display: none;
  }
  .footer-right2 {
    display: none;
  }

  .responsive-background {
    background: #3b5998;
    box-sizing: border-box;
    height: 44px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 12;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .repartation-logo {
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    width: 0;
  }

  .warp-lg {
    align-items: center;
    display: flex;
    height: 44px;
    margin: 0 auto;
    position: relative;
    width: 40px;
  }

  .home-logo {
    background-image: url(/images/responsive.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -787px;
    height: 20px;
    width: 20px;
    margin: 0;
    position: relative;
    outline: none;
    margin: 0 auto;
    position: relative;
  }
  .style-home-logo {
  }

  .pending-logo {
    background-image: url(/images/responsive.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -430px;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
  }
  .messenger-logo {
    background-image: url(/images/responsive.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -157px;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
  }
  .alert-logo {
    background-image: url(/images/responsive.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -283px;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
  }

  .fa-logo {
    background-image: url(/images/responsive.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -535px;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
  }

  .dot-logo {
    background-image: url(/images/responsive.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -682px;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
  }
  .all-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .active-logo {
    background: #243c6d;
  }
  .box1 {
    display: none;
  }
  .arab {
    display: none;
  }
  .resp {
    display: block;
    background-image: url(/images/resp2.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 -290px;
  }
  .padd1 {
    padding-top: 0;
  }
  #leftCol {
    display: none;
  }
  #global {
    margin: 0;
  }
  .middle {
    margin-left: 0;
    display: unset;
  }
  .posta {
    width: auto;
  }
  .postb {
    width: unset;
  }

  .background-1 {
    display: flex;
    border: unset;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-top: 0;
    margin-bottom: 5px;
  }
  .typing {
    width: 100%;
    height: 69px;
  }

  .right-footer {
    display: none;
  }

  .adjust {
    flex: 1;
    display: flex;
    align-self: center;
    margin-left: 5px;
  }
  .adjust2 {
    margin-bottom: 8px;
  }
  .uu {
    width: 100%;
  }
  .rond {
    width: 100%;
  }
  .remove-classe {
    display: none;
  }
  .a {
    display: none;
  }
  input {
    height: 36px;
    border: 1px solid #ccd0d5;
    padding-left: 11px;
    border-radius: 25px;
  }
  input:focus {
    outline: none;
  }

  .icone-photo-video {
    position: absolute;
    background-image: url(/images/resp2.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    background-position: 0 -290px;
  }
  .upload-file2 {
    opacity: 0;
  }
  .visibilty2 {
    display: block;
    opacity: 0;
    width: 20px;
  }
  .style-photo {
    display: block;

    color: #444950;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
  }
  .txt1 {
    width: 93%;
  }
  .im {
    margin: 0;
  }
  .photo-bar {
    display: block;
  }
  .disable {
    display: none;
  }
  .m5 {
    display: none;
  }
  .frist-cla {
    border-top: unset;
    margin: 0;
    padding: 0;
    overflow: unset;
  }
  .img1 {
    display: none;
  }
  .classc {
    color: #444950;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
    box-sizing: unset;

    display: unset;
    font-weight: unset;

    line-height: 0;
    overflow: unset;
    padding: 0;

    text-overflow: unset;
    vertical-align: unset;
    white-space: unset;
  }

  .classa {
    display: block;
  }
  .fo-resp {
    display: block;
    line-height: 59px;
  }
  .style1-8 {
    display: none;
  }
  .typing2-1 {
  }
  .upload-file {
    height: 40px;
    width: 50px;
  }
  .ark {
    display: flex;
    background: none;
    border-radius: 0;
    cursor: unset;
    position: relative;
  }
  .adjust3 {
    flex: 1;
    min-width: 0;
    width: 0;
  }
  .imga {
    height: 40px;
    flex: 1;
    margin-right: 9px;
  }
  .buttonPosta {
    padding: 0 5px;
  }
}
