body {
  background: #e9ebee;
  color: black;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.top {
  position: relative;
  z-index: 301;
}

.bleu-background {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  height: 42px;
  position: relative;
  width: 100%;
}

.logo {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
  display: block;
  height: 24px;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
  width: 24px;
  margin: 9px 0;
  margin-left: -1px;
  margin-right: 4px;
}
.logo2 {
  display: inline-block;
  outline: none;
  padding: 2px;
  position: relative;
  left: 1px;
}

.warp-search {
  margin-left: 0;
  min-width: 144px;
  width: 100%;
}
.warp-bleu {
  position: sticky;
  top: 0;
  z-index: 7;
}

button {
  padding: 10px 10px;
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
}

.sp:before {
  content: "";
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.fa-search {
  background-image: url(/images/fa-search.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -949px;
  cursor: pointer;
  display: block;
  height: 14px;
  position: absolute;

  top: 4px;
  width: 14px;
  z-index: 2;
}

.fa1 {
  background: #f5f6f7;
  border: none;
  border-radius: 0 2px 2px 0;

  cursor: pointer;

  line-height: 1;
  padding: 0 16px;
  position: absolute;

  text-align: center;
  z-index: 1;
  text-decoration: none;
  white-space: nowrap;
}

.border {
  display: flex;
  border: 1px solid #3b5998;
}

.logo-box {
  display: flex;
}

.Rech {
  padding-left: 0;
  padding-right: 5px;
  height: 23px;
  padding-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 18px;
  line-height: 22px;
  padding: 3px 0 0;
  text-shadow: none;
  background: 0;
  border: 0;
  box-sizing: border-box;
  left: 3px;
  outline: 1px solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  width: 100%;
}

.search {
  width: 392px;
  height: 23px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-overflow: ellipsis;
  line-height: 67px;
  padding-left: 3px;
  text-shadow: none;
}

.logo-box {
  display: flex;
  height: 42px;
  width: 516.266px;
}
.row1 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.pic-top {
  height: 24px;
}

.r::before {
  background: #3c5c9f;
}
.r1::before {
  content: "";
  display: block;
  height: 18px;
  left: -1px;

  top: 12px;
  width: 1px;
}

.bor:focus {
  outline: none;
}

.both {
  display: flex;
}
.adj {
  display: flex;
  flex: 0 0 auto;
  margin-left: 9px;
}
.new {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.a {
  display: flex;
  flex-direction: row;
  height: 43px;
}
.white-bar {
  background-color: #fff;
  border: 1px solid #3b5998;
  border-radius: 3px;
  box-sizing: border-box;
  height: 26px;
  left: -1px;
  margin-right: 30px;
  margin-top: 0;
  max-width: 448px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 45px;
  position: relative;
  top: 8px;
  width: 448px;
}

.bar {
  flex: 0 0 auto;
  justify-content: flex-end;
  margin-left: 8px;
}

.k::after {
  background: #3c5c9f;
}
.k1::after {
  content: "";
  display: block;
  height: 18px;
  left: -1px;

  top: 12px;
  width: 1px;
}

.under-warp {
  margin-left: 67px;
  margin-right: 67px;
  height: 43px;
}

.under1 {
  padding-right: 225px;
  height: 43px;
}

.text-top {
  background-color: transparent;
  color: inherit;
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  height: 27px;
  line-height: 28px;
  padding: 0 12px 1px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.block-top {
  margin: 7px 0;
}

.block3 {
  display: flex;
  padding: 0 0 0 4px;
  margin: 7px 0;
}
.adj2 {
  margin: 0 2px;
  padding: 4px;
}
.adj3 {
  padding: 0 5px 0 4px;
}
.user {
  background-image: url(/images/user.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -788px;
  height: 24px;
  width: 24px;
  background-clip: border-box;
  margin-left: -1px;
  margin-bottom: 1px;
  opacity: 0.6;
}

.sp-user {
  padding: 4px;
}

.msg {
  background-image: url(/images/user.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -838px;
  height: 24px;
  width: 24px;
  opacity: 0.6;

  margin-bottom: 1px;
}

.alert {
  background-image: url(/images/user.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -738px;
  height: 24px;
  width: 24px;
  margin-bottom: 2px;
  opacity: 0.6;
}

.interog {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -100px;
  height: 24px;
  margin-top: 2px;
  width: 24px;
  opacity: 0.6;
  margin-left: 1px;
}

.new {
  margin: 0 2px;
  padding: 4px;
}

.block4 {
  display: flex;
  padding: 0 5px 0 4px;
  margin: 7px 0;
}

.tp {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-right: 9px;
}

.row {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -50px;
  height: 24px;
  width: 24px;
  margin: 2px -7px 0 12px;
  opacity: 0.6;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 0;

  z-index: 1;
}
.tooltip-bottom {
  position: absolute;
  top: 35px;
  left: 10%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip-alert {
  top: 35px;
  left: 10%;
}

.tooltip-msg {
  top: 35px;
  left: -63%;
}
.tooltip-user {
  top: 35px;
  left: -98%;
}

.tooltip-help {
  top: 35px;
  left: -98%;
}

#global {
  margin: 0 auto;
  margin-right: 67px;
  margin-left: 67px;

  position: relative;
  zoom: 1;
}

#content {
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
}

.content1 {
  position: relative;
}

.fb_content {
  padding-bottom: 0;
}

.fb_content {
  min-height: 640px;
  padding-bottom: 20px;
}
.clearfix {
  zoom: 1;
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

#mainContainer {
  border-right: 1px solid #ccc;
  min-height: 600px;
  border-right: 0;
  margin-left: 0;
  margin-left: -1px;
  display: block;
  width: 100%;
}

.padd1 {
  padding-top: 12px;
}

#leftCol {
  display: block;
  float: left;
  min-height: 50px;
  padding: 2px 0 0 2px;
  position: relative;
  width: 179px;
  word-wrap: break-word;
}

.left2:first-child {
  margin-left: 0 !important;
}
.left2 {
  width: 180px !important;
}

.gr9 {
  width: 124px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.left3 {
  float: left;
  margin-left: 12px !important;
  min-height: 1px;
  position: relative;
}

.fixed_elem,
.fixed_always {
  position: fixed !important;
}

.chrome .fixed_elem,
.chrome .fixed_always {
  transform: translateZ(0);
}

#pagelet_navigation {
  width: inherit;
}

.font-style1 {
  font-size: 13px;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0;
  margin: 0px;
  padding: 0;
}
a {
  text-decoration: none;
}
.cla {
  height: 30px;
}
.eda {
  color: #365899;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: normal;
  pointer-events: all;
  position: relative;
  visibility: hidden;
}

h4 {
  display: block;

  margin-block-end: 0;
}

.homeSideNav:hover .eda {
  visibility: visible;
}
.eda2:hover {
  text-decoration: underline;
}
.short {
  color: #616770;
  display: block;
  font-size: 13px;
  line-height: 17px;

  margin: -2px 0 -1px;
  padding: 5px 0;
  pointer-events: none;
}

._3-91 {
  margin-right: 12px;
}
.art {
  display: inline-block;
}
.art2 {
  width: 150px;
}

.rapp {
  display: inline;
}
.left5 ._bui {
  margin-bottom: 10px;
}

.left5 .items-nav .left6::after {
  background-color: #f5f6f7;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  bottom: -1px;
  content: "";
  display: block;
  left: -1px;
  opacity: 0;
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: -1;
}

.left5.lef6 > .imgWrap > .img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 20px;
  max-width: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.left5 .left6 > .imgWrap {
  height: 20px;
  margin: 4px 6px 0 -0;
  position: relative;
  width: 20px;
}

.img1 {
  background-image: url(/images/left2.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.icone-pro {
  background-image: url(/images/profile.png);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-position: -94px;
}

.event-ico {
  background-image: url(/images/date.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-position: 0 -21px;
}

.icone1 {
  background-position: 0 -1161px;
}
.icone2 {
  background-position: 0 -972px;
}
.icone3 {
  background-position: 0 -195px;
}
.icone4 {
  background-position: 0 -1581px;
}
.icone5 {
  background-position: 0 -132px;
}
.icone6 {
  background-position: 0 -363px;
}
.icone7 {
  background-position: 0 -237px;
}
.icone8 {
  background-position: 0 -1224px;
}
.icone9 {
  background-position: 0 -741px;
}
.icone10 {
  background-position: 0 -1434px;
}
.icone11 {
  background-position: 0 -153px;
}
.icone12 {
  background-position: 0 -678px;
}
.icone13 {
  background-position: 0 -1035px;
}
.icone14 {
  background-position: 0 -720px;
}
.icone15 {
  background-position: 0 -1455px;
}
.icone16 {
  background-position: 0 -111px;
}
.icone17 {
  background-position: 0 -1350px;
}
.icone18 {
  background-position: 0 -384px;
}
.icone19 {
  background-position: 0 -1014px;
}
.icone20 {
  background-position: 0 -573px;
}
.icone21 {
  background-position: 0 -531px;
}

.icon0 {
  background-image: url(/images/profile.png);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-position: -94px;
}

.ds {
  float: right;
  position: relative;
  right: 0;
  top: 2px;
  z-index: 1;
  top: 0;
  display: inline-block;
}
.ds1 {
  float: left;
  margin-left: -22px;
  margin-top: -2px;
}

.left5 .items-nav .left6 {
  background-color: transparent;
  height: 28px;
  line-height: 28px;
  position: relative;
  z-index: 0;
  color: #1d2129;
}

._bui .items-nav .imgWrap {
  float: left;
  margin-left: -22px;
  margin-top: -2px;
}
.left4 .items-nav .imgWrap .img {
  vertical-align: middle;
}
.middle {
  display: inline-block;
  margin-left: 11px;
  min-height: 600vh;
}
.box1 {
  border: 1px solid #dddfe2;
  width: 500px;
  height: 16px;
  background-color: #f5f6f7;
  padding: 8px 0;
}
.text1 {
}

.typing {
  border: 1px solid #dddfe2;
  width: 500px;
  height: 122px;
  background-color: #fff;
  border-top: 0;
}

.true {
  border: none;
  height: 35px;
  width: 448px;
  min-height: initial;
  padding: 18px 12px 14px 12px;
}

.imga {
  width: 40px;
}

textarea {
  resize: none;
}
.im {
  float: left;
  margin: 12px 0 0 11px;
}
.write {
  overflow: hidden;
  position: relative;
}
.frist-cla {
  border-top: 1px solid #e9ebee;
  margin: 0 11px;
  padding: 8px 0;
  overflow: hidden;
}

.ord {
  display: inline-block;
  margin-left: -2px;
}

.icone22 {
  background-position: 0 -1119px;
}
.icone23 {
  background-position: 0 -699px;
}
.icone24 {
  background-position: 0 -636px;
}

.icone25 {
  background-position: 0 -1957px;
  position: relative;
  left: 12px;
  top: 4px;
}

.classa {
  max-width: calc((476px - 44px) / 3 - 6px);
  background: #f5f6f7;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
}

.classb {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 20px;
}

.classc {
  box-sizing: border-box;
  color: #4b4f56;
  display: inline-block;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  padding: 0 15px 0 35px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.mr {
  margin-right: 6px;
}

::placeholder {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: middle;
  line-height: 29px;
  opacity: 0.9;
}

.style-cr {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #4b4f56;
  display: inline;
  padding: 4px 6px 4px 4px;
}

.style-a {
  padding: 0 4px;
}

.global-box {
  margin-bottom: 10px;
}

.point-background {
  background: #f5f6f7;
  border-radius: 18px;
  cursor: pointer;
  position: absolute;
  max-width: calc((476px - 44px) / 3 - 6px);
}
.pt1 {
  white-space: nowrap;
  width: 44px;
  height: 32px;
}
.m5 {
  display: inline-block;
}

.post1 {
  margin-bottom: 12px;
}

.posta {
  border: 1px solid #dddfe2;

  background-color: #fff;
  width: 477px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 12px;
}

.storie {
  color: #616770;
  font-size: 13px;
  font-weight: 600;
}

.see-style {
  float: right;
}

.rond {
  height: 16px;
  display: flex;
  flex-direction: row;

  width: 500px;
  justify-content: space-between;

  padding-bottom: 12px;
}

.postb {
  border: 1px solid #dddfe2;
  background-color: #fff;
  width: 478px;
  height: auto;
  padding: 12px 12px 0;
  margin-bottom: 8px;
}

h5 {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 5px;
}

.pt {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.st {
  padding-bottom: 6px;
}

.hj {
  font-size: 12px;

  color: #616770;
}

.icones {
  background-image: url(/images/earth.png);
  background-size: auto;
  background-repeat: no-repeat;

  height: 12px;
  width: 12px;
}

.icone-29 {
  background-position: -39px -258px;
  vertical-align: text-top;
}

.button-option {
  background-color: white;
  background-image: url(/images/point.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -25px -71px;
  height: 20px;
  float: right;
  width: 20px;
  box-shadow: unset;
}
.mpa {
  display: inline-block;
}
.uu {
  height: 250px;
  width: 502px;
  margin-left: -12px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}

.bottom-icon {
  background-image: url(/images/Like.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.bottom-icon2 {
  background-image: url(/images/comment.png);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.icone-30 {
  width: 18px;
  height: 18px;
  background-position: -19px -443px;
}
.icone-31 {
  background-position: 0 -156px;
}
.icone-32 {
  background-position: -18px -175px;
}

.bt-style {
  display: flex;
  margin: 0 12px;
  min-height: 32px;
}

.ratk {
  align-items: center;
  color: #606770;
  display: flex;

  font-weight: 600;
  height: 32px;
  justify-content: center;
  line-height: 14px;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  transition: 400ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
}
.bar4 {
  border-top: 1px solid #dadde1;
}
.f-cl {
  display: flex;

  min-height: 32px;
  padding: 4px 0;
}
.s-cl {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  order: 1;
}

.t-cl {
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  justify-content: center;
}
.q-cl {
  position: relative;
}
.c-cl {
  position: relative;
  display: flex;
}
.s-cl {
  color: #606770;
  display: flex;
  flex: 1 0;
  font-weight: 600;

  justify-content: center;
  font-size: 13px;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  transition: 400ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
  z-index: 6;
}
.set-cl {
  margin-right: 4px;
}

.right-side {
  display: inline-block;
  float: right;
}
.right-footer {
  width: 300px;
  height: 34px;
  margin-top: 12px;
  float: right;
  position: fixed;
}

.text-footer {
  font-size: 13px;
  color: #385898;
}
.paddin1 {
  width: 280px;
  padding: 12px;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 2%;
  margin-left: 9px;
}
.button-5 {
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  color: #4b4f56;
}

.sr {
  background-image: url(/images/pl.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.icone-33 {
  background-position: -39px -271px;
}

.ae {
  display: flex;
}

.background-plus-style {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  line-height: 26px;
  padding: 0 10px;
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;

  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}

.plus-style {
  bottom: 1px;
  position: relative;
  vertical-align: middle;
}

.footer-style2 {
  color: #989ca3;
  font-size: 13px;
}

.footer-right2 {
  padding: 0 18px 2px;
}
.copy-r {
  color: #616770;
  font-size: 13px;
}

.icon-tr {
  background-image: url(/images/pl.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -34px -222px;

  position: absolute;
  vertical-align: middle;
  fill: #9197a3;
}

.icone-more {
  background-image: url(/images/pl.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 5px;
  height: 4px;
  background-position: -47px -106px;

  vertical-align: middle;
}

.text-underline:hover {
  text-decoration: underline;
}

.background-left-s {
  border: 1px solid #dddfe2;
  background-color: #f5f6f7;
}

.point-3 {
  background-image: url(/images/point3.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -326px;
  height: 20px;
  width: 20px;
  background-origin: content-box;
  border: #e9ebee;
  border-radius: 2px;
  display: inline-block;
  float: right;
  margin: 4px;
}

.t {
  display: inline-block;
}

.font-new {
  font-weight: 600;
  font-size: 13px;
}

.shadow:hover {
  background: rgba(0, 0, 0, 0.1);
  color: inherit;
}

.ism {
  border-left: 6px solid black;
  height: 200px;
  position: absolute;
  float: left;
}

.ri:hover {
  border-radius: 18px;
  background-color: #ebedf0;
}
.ri1:hover {
  background-color: #ebedf0;
}

.a1:hover {
  border: 1px solid #dddfe2;
  background-color: #f5f6f7;
}

.navbar {
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
}

.bx-cht1 {
  box-shadow: 1px 0 0 #f0f0f2 inset;
  right: 30px;
  float: right;
  position: fixed;
  border-left: 1px solid #cccccc;
  height: 100%;
}

.bx-cht2 {
  padding: 0 8px 0;
}
.bx-cht3 {
  height: 100%;
}
.bx-cht4 {
  border-top: 1px solid #f0f0f2;
  display: none !important;
  border-bottom: 0;
  border-top: 1px solid #fff;
  cursor: ns-resize;

  height: 5px;
  position: relative;
  z-index: 1;
}
.bx-cht5 {
  display: none;
  background: #e9ebee;
  border-bottom: 1px solid #bdc5d2;
  border-top: 1px solid #f0f1f6;
  height: 4px;
  position: relative;
}
.bx-cht6 {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.bx-cht7 {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.bx-cht8 {
  background: #f5f6f7;
  border-top: 1px solid #cad0db;
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -6px;
  margin-top: 1px;
  position: absolute;
  width: 12px;
}
.bx-cht9 {
  height: 100%;
  margin-bottom: 27px;
  width: 100% !important;
}

.bx-cht10 {
  overscroll-behavior: contain;
  margin-right: -30px;

  height: 100%;
  outline: none;

  position: relative;
}
.bx-cht11 {
  direction: ltr;
  position: relative;
}
.bx-cht12 {
  padding: 5px 0;
}
.bx-cht13 {
  width: 205px;
}
.bx-cht14 {
  padding-bottom: 6px;
  padding-top: 0;
}
.bx-cht15 {
  padding: 8px 0 8px 8px;
}
.bx-cht16 {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: bold;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bx-cht17 {
  display: inline-block;
}

.bx-cht21 {
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
.bx-cht25 {
  width: 194px;
}
.bx-cht24 {
  background: rgb(66, 183, 42);
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  width: 6px;
  float: right;
  margin-top: 11px;
}
.box-se1 {
  position: fixed;
  bottom: 0;
  right: 36px;
}
.box-se2 {
  height: 30px;
  width: 226px;
  position: relative;
  background-color: #f5f6f7;
  left: 41px;
}

.box-style-se {
  right: -21px;
  position: relative;
  height: 20px;
}

input {
  border: none;
  height: 75px;
  width: 383px;
  padding-left: 5px;
}
.input:focus {
  outline: none;
}

.space1 {
  height: 20px;
  padding: 4px;
  position: relative;
  background-color: #f5f6f7;
  left: 25px;
  width: 91px;
}

.fa-search5::before {
  background-image: url(/images/searchfa.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1039px;
  content: "";
  display: inline-block;
  height: 12px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 12px;
}

.setting {
  background-image: url(/images/searchfa.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -788px;
  background-color: transparent;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  height: 16px;
  margin-right: 4px;
  margin-top: 5px;
  width: 16px;
  border: 0;
  box-shadow: none;

  display: inline-block;
}
.line1 {
  line-height: 32px;
}

.note {
  background-image: url(/images/searchfa.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -516px;
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  margin-top: 6px;
  vertical-align: top;
  width: 16px;
}
.pepole1 {
  background-image: url(/images/searchfa.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -618px;
  display: inline-block;
  height: 18px;
  margin-right: 8px;
  margin-top: 5px;
  vertical-align: top;
  width: 16px;
}

.ico5 {
  position: absolute;
  right: 10px;
  top: 0;
}

.nv-name:hover {
  background-color: #dddfe2;
  box-shadow: 1px 0 0 #eaebed inset;
  text-decoration: none;
}
.nv-name2:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  text-decoration: none;
}

.yy:hover {
  opacity: 1;
  cursor: pointer;
}

.upload-file {
  bottom: 0;
  cursor: inherit;
  font-size: 1000px !important;
  height: 300px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.poste {
  width: 400px;
}
.post-image {
  width: 300px;
}

.dropmenu-content {
  display: none;
}

.dropmenu-content.show {
  display: block;
  float: right;
  position: relative;
  background-color: #f1f1f1;
  min-width: 60px;
  min-height: 20px;
  left: 26px;
  top: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.thumbnail {
  width: 160px;
  height: 100px;
}
.input-style-resp {
  display: none;
}
.photo-bar {
  display: none;
}

.visibility2 {
  display: none;
}
.style-photo {
  display: none;
}
.icone-photo-video {
  display: none;
}
.try {
  display: none;
}
.fo-resp {
  display: none;
}
.style1-8 {
  display: block;
}
::placeholder {
  color: #444950;
}
.background-1 {
  display: flex;
  border: 1px solid #dddfe2;
  width: 500px;
  height: auto;
  background-color: #fff;
  border-top: 0;
  margin-bottom: 5px;
}
